<div class="container">
    <h4>Promotion Budget</h4>
  <div class="card">
    <div class="card-body">

      <div class="row">
        <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <label for="promotions">Select Promotion:</label>
          <br>
          <select class="custom-select mr-sm-2" name="activePromotion" (change)="selectPromotion($event)">
            <option [value]="-1" disabled>Choose Promotion</option>
            <option *ngFor="let promotion of activePromotions" 
              [value]="promotion.pid">{{promotion.name}}</option>
          </select>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <label for="budget">Total Budget:</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="validationTooltipUsernamePrepend">$</span>
            </div>
            <input type="number" class="form-control" [disabled]="promotionId === -1"
              [(ngModel)]="budgetAmount">  
          </div>
          
        </div>
      </div>

      <button type="button" class="btn btn-primary" 
        (click)="saveBudgetForSupplier()" [disabled]="promotionId === -1">Save Budget</button>
      <button type="button" class="btn btn-danger marginLeft" (click)="returnToHome()">Cancel</button>

      <div class="row marginTop">
        <div class="col-md-12 col-lg-12">
            <div class="row col-lg-12" *ngIf="supplierBudgets.length != 0">
              <div class="table-responsive" >
                  <table class="table table-sm">
                    <thead>
                      <tr>
                        <th>Promotion Name</th>
                        <th>Budget Allocated</th>
                        <th>Budget Used</th>
                        <th>Varience</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let row of supplierBudgets; let i = index;">
                        <td>{{row.promotionName}}</td>
                        <td>{{row.budgetAllocated}}</td>
                        <td>{{row.budgetUtilized}}</td>
                        <td>{{row.budgetRemaining}}</td>
                      </tr>
                    </tbody>
                  </table>
              </div>
            </div>
        </div>
      </div>

    </div>
  </div>
</div>