<div class="container" *ngIf ="hasError">
    <h3>No Data Found!</h3>
</div>

<div class="container" *ngIf ="pageLoaded">

    <div class="d-flex flex-row">
        <div class="p-2"><span class="alert alert-info"><strong>Year: </strong>{{promotion.promoyear | date: 'y'}}</span></div>
        <div class="p-2"><span class="alert alert-info"><strong>Status: </strong> {{promotion.status}}</span></div>
        <div class="p-2"><span class="alert alert-info"><strong>Total Budget: </strong>{{promotion.budget.allocated}}</span></div>
        <div class="p-2"><span class="alert alert-info"><strong>Used Budget: </strong>{{promotion.budget.used}}</span></div>
    </div> 
    
    <div class="d-flex flex-row-reverse">
        <div class="p-2">
            <select (change)="onSelect($event.target.value)">
              <option *ngFor="let s of suppliers" [value]="s.supplierID">
                {{s.supplierName}}
              </option>
            </select> 
          </div>
          <div class="p-2" *ngIf ="promotion.status === 'SUBMITTED'">
            <button type="button" class="btn btn-success" (click)="acceptPromotion()">Accept</button>
          </div>
          <div class="p-2" *ngIf ="promotion.status === 'SUBMITTED'">
            <button type="button" class="btn btn-danger" (click)="rejectPromotion()">Reject</button>
          </div>
    </div>

    <div class="table-responsive">
       <h4>Supplier : {{currentSupplierName}} </h4>
       <br>
          <table class="table table-sm">
              <thead>
                <tr>
                  <th scope="col">Package</th>
                  <th scope="col">Code</th>
                  <th scope="col">Rate</th>
                  <th scope="col">DM1</th>
                  <th scope="col">DM2</th>
                  <th scope="col">DM3</th>
                  <th scope="col">DM4</th>
                  <th scope="col">DM5</th>
                  <th scope="col">DM6</th>
                  <th scope="col">DM7</th>
                  <th scope="col">DM8</th>
                  <th scope="col">DM9</th>
                  <th scope="col">DM10</th>
                  <th scope="col">DM11</th>
                  <th scope="col">DM12</th>
                  <th scope="col">DM13</th>
                </tr>
              </thead>
              
              <tbody>
                <tr *ngFor="let row of promotion.ratecards; let rowid = index">
  
                  <td><p>{{row.pname}}</p></td>
                  <td><p>{{row.pcode}}</p></td>
                  <td><p>${{row.prate}}</p></td>
  
                  <td *ngFor="let dm of row.dualmailers; let i = index">
                    <p [ngbPopover]="popContent" triggers="mouseenter:mouseleave" [popoverTitle]="popTitle" (mouseenter)="onHover(rowid,i)" (mouseleave)="onHoverLeave()" (dblclick)="editDM(rowid,i)">{{dm.value}}</p>
                  </td>
                </tr>
              </tbody>
           </table>
    </div>

    <div class="table-responsive" *ngIf ="productDMBudgetList.length != 0">
      <h4>Budget Breakdown</h4>
      <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">Selected Package</th>
              <th scope="col">Total</th>
              <th scope="col">Total Spent</th>
            </tr>
          </thead>
          
          <tbody>
            <tr *ngFor="let row of productDMBudgetList;let rowid = index">
              <td><p>{{row.packageName}}</p></td>
              <td><p>{{row.totalSelected}}</p></td>
              <td><p>${{row.totalSpent}}</p></td>
            </tr>
          </tbody>
          
       </table>
  </div>

  <ng-template #popContent>
      <div class="popupArea" *ngFor="let row of skuPromoDataList;let rowid = index">
        <div> Promotion number is <b>{{rowid+1}}</b> and type is <b>{{row.promoType}}</b>!
          <br></div>
          <div>
              <p><b>PRODUCTS:</b></p>
              <ul *ngFor="let product of row.productsSelected" >
                  <li>{{product.name}}</li>
              </ul>
          </div>
      </div>
    </ng-template>
    <ng-template #popTitle><b>Promotion Details</b></ng-template>
  
   </div>
  