<h4>Enter Promotion Details</h4>
<div class="container">
    <div class="d-flex flex-row-reverse">
          <div class="p-2" >
            <button type="button" class="btn btn-success" (click)="activatePromo()">Activate</button>
          </div>
    </div> 
  <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
    <div class="row">
      <div class="col">
        <label>Promo Name:</label>
        <input type="text" class="form-control" name="promoName" ngModel>
      </div>
    </div>
    <br>
    <app-ratecard></app-ratecard>
    <br>
    <app-dualmailer></app-dualmailer>
    <br>
    <div class="row">
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </form>
  
</div>