<h4>DualMailer</h4>

<fieldset ngModelGroup="dualmailers">

    <fieldset ngModelGroup="dm1">
        <div class="row">
            <div class="col">
                <label>Code:</label>
              <input type="text" class="form-control" name="code" ngModel="DM1">
            </div>
            <div class="col">
                <label>Start-Date:</label>
              <input type="text" class="form-control" name="startDate" placeholder="dd-mm-yyyy" ngModel>
            </div>
            <div class="col">
                <label>End-Date:</label>
              <input type="text" class="form-control" name="endDate" placeholder="dd-mm-yyyy" placeholder="dd-mm-yyyy" ngModel>
            </div>
          </div>
    </fieldset>
    <fieldset ngModelGroup="dm2">
        <div class="row">
            <div class="col">
                <label>Code:</label>
              <input type="text" class="form-control" name="code" ngModel="DM2">
            </div>
            <div class="col">
                <label>Start-Date:</label>
              <input type="text" class="form-control" name="startDate" placeholder="dd-mm-yyyy" ngModel>
            </div>
            <div class="col">
                <label>End-Date:</label>
              <input type="text" class="form-control" name="endDate" placeholder="dd-mm-yyyy" placeholder="dd-mm-yyyy" ngModel>
            </div>
          </div>
    </fieldset>
    <fieldset ngModelGroup="dm3">
        <div class="row">
            <div class="col">
                <label>Code:</label>
              <input type="text" class="form-control" name="code" ngModel="DM3">
            </div>
            <div class="col">
                <label>Start-Date:</label>
              <input type="text" class="form-control" name="startDate" placeholder="dd-mm-yyyy" ngModel>
            </div>
            <div class="col">
                <label>End-Date:</label>
              <input type="text" class="form-control" name="endDate" placeholder="dd-mm-yyyy" ngModel>
            </div>
          </div>
    </fieldset>
    <fieldset ngModelGroup="dm4">
        <div class="row">
            <div class="col">
                <label>Code:</label>
              <input type="text" class="form-control" name="code" ngModel="DM4">
            </div>
            <div class="col">
                <label>Start-Date:</label>
              <input type="text" class="form-control" name="startDate" placeholder="dd-mm-yyyy" ngModel>
            </div>
            <div class="col">
                <label>End-Date:</label>
              <input type="text" class="form-control" name="endDate" placeholder="dd-mm-yyyy" ngModel>
            </div>
          </div>
    </fieldset>
    <fieldset ngModelGroup="dm6">
        <div class="row">
            <div class="col">
                <label>Code:</label>
              <input type="text" class="form-control" name="code" ngModel="DM6">
            </div>
            <div class="col">
                <label>Start-Date:</label>
              <input type="text" class="form-control" name="startDate" placeholder="dd-mm-yyyy" ngModel>
            </div>
            <div class="col">
                <label>End-Date:</label>
              <input type="text" class="form-control" name="endDate" placeholder="dd-mm-yyyy" ngModel>
            </div>
          </div>
    </fieldset>
    <fieldset ngModelGroup="dm5">
        <div class="row">
            <div class="col">
                <label>Code:</label>
              <input type="text" class="form-control" name="code" ngModel="DM5">
            </div>
            <div class="col">
                <label>Start-Date:</label>
              <input type="text" class="form-control" name="startDate" placeholder="dd-mm-yyyy" ngModel>
            </div>
            <div class="col">
                <label>End-Date:</label>
              <input type="text" class="form-control" name="endDate" placeholder="dd-mm-yyyy" ngModel>
            </div>
          </div>
    </fieldset>
    <fieldset ngModelGroup="dm6">
        <div class="row">
            <div class="col">
                <label>Code:</label>
              <input type="text" class="form-control" name="code" ngModel="DM6">
            </div>
            <div class="col">
                <label>Start-Date:</label>
              <input type="text" class="form-control" name="startDate" placeholder="dd-mm-yyyy" ngModel>
            </div>
            <div class="col">
                <label>End-Date:</label>
              <input type="text" class="form-control" name="endDate" placeholder="dd-mm-yyyy" ngModel>
            </div>
          </div>
    </fieldset>
    <fieldset ngModelGroup="dm7">
        <div class="row">
            <div class="col">
                <label>Code:</label>
              <input type="text" class="form-control" name="code" ngModel="DM7">
            </div>
            <div class="col">
                <label>Start-Date:</label>
              <input type="text" class="form-control" name="startDate" placeholder="dd-mm-yyyy" ngModel>
            </div>
            <div class="col">
                <label>End-Date:</label>
              <input type="text" class="form-control" name="endDate" placeholder="dd-mm-yyyy" ngModel>
            </div>
          </div>
    </fieldset>
    <fieldset ngModelGroup="dm8">
        <div class="row">
            <div class="col">
                <label>Code:</label>
              <input type="text" class="form-control" name="code" ngModel="DM8">
            </div>
            <div class="col">
                <label>Start-Date:</label>
              <input type="text" class="form-control" name="startDate" placeholder="dd-mm-yyyy" ngModel>
            </div>
            <div class="col">
                <label>End-Date:</label>
              <input type="text" class="form-control" name="endDate" placeholder="dd-mm-yyyy" ngModel>
            </div>
          </div>
    </fieldset>
    <fieldset ngModelGroup="dm9">
        <div class="row">
            <div class="col">
                <label>Code:</label>
              <input type="text" class="form-control" name="code" ngModel="DM9">
            </div>
            <div class="col">
                <label>Start-Date:</label>
              <input type="text" class="form-control" name="startDate" placeholder="dd-mm-yyyy" ngModel>
            </div>
            <div class="col">
                <label>End-Date:</label>
              <input type="text" class="form-control" name="endDate" placeholder="dd-mm-yyyy" ngModel>
            </div>
          </div>
    </fieldset>
    <fieldset ngModelGroup="dm10">
        <div class="row">
            <div class="col">
                <label>Code:</label>
              <input type="text" class="form-control" name="code" ngModel="DM10">
            </div>
            <div class="col">
                <label>Start-Date:</label>
              <input type="text" class="form-control" name="startDate" placeholder="dd-mm-yyyy" ngModel>
            </div>
            <div class="col">
                <label>End-Date:</label>
              <input type="text" class="form-control" name="endDate" placeholder="dd-mm-yyyy" ngModel>
            </div>
          </div>
    </fieldset>
    <fieldset ngModelGroup="dm12">
        <div class="row">
            <div class="col">
                <label>Code:</label>
              <input type="text" class="form-control" name="code" ngModel="DM12">
            </div>
            <div class="col">
                <label>Start-Date:</label>
              <input type="text" class="form-control" name="startDate" placeholder="dd-mm-yyyy" ngModel>
            </div>
            <div class="col">
                <label>End-Date:</label>
              <input type="text" class="form-control" name="endDate" placeholder="dd-mm-yyyy" ngModel>
            </div>
          </div>
    </fieldset>
    <fieldset ngModelGroup="dm13">
        <div class="row">
            <div class="col">
                <label>Code:</label>
              <input type="text" class="form-control" name="code" ngModel="DM13">
            </div>
            <div class="col">
                <label>Start-Date:</label>
              <input type="text" class="form-control" name="startDate" placeholder="dd-mm-yyyy" ngModel>
            </div>
            <div class="col">
                <label>End-Date:</label>
              <input type="text" class="form-control" name="endDate" placeholder="dd-mm-yyyy" ngModel>
            </div>
          </div>
    </fieldset>
  


 </fieldset>