<h4>Rate Cards</h4>

<fieldset ngModelGroup="ratecards">

    <fieldset ngModelGroup="rc1">
        <div class="row">
            <div class="col">
              <label>Code:</label>
              <input type="text" class="form-control" name="code" ngModel="RC1" size="3">
            </div>
            <div class="col">
                <label>RateCard Name:</label>
              <input type="text" class="form-control" name="name" ngModel>
            </div>
            <div class="col">
                <label>RateCard Price:</label>
              <input type="text" class="form-control" name="rate" ngModel>
            </div>
          </div>
    </fieldset>
    <fieldset ngModelGroup="rc2">
        <div class="row">
            <div class="col">
                <label>Code:</label>
                <input type="text" class="form-control" name="code" ngModel="RC2" >
              </div>
            <div class="col">
                <label>RateCard Name:</label>
              <input type="text" class="form-control" name="name" ngModel>
            </div>
            <div class="col">
                <label>RateCard Price:</label>
              <input type="text" class="form-control" name="rate" ngModel>
            </div>
          </div>
    </fieldset>
    <fieldset ngModelGroup="rc3">
        <div class="row">
            <div class="col">
                <label>Code:</label>
                <input type="text" class="form-control" name="code" ngModel="RC3" >
              </div>
            <div class="col">
                <label>RateCard Name:</label>
              <input type="text" class="form-control" name="name" ngModel>
            </div>
            <div class="col">
                <label>RateCard Price:</label>
              <input type="text" class="form-control" name="rate" ngModel>
            </div>
         </div>
    </fieldset>
    <fieldset ngModelGroup="rc4">
        <div class="row">
            <div class="col">
                <label>Code:</label>
                <input type="text" class="form-control" name="code" ngModel="RC4" >
              </div>
            <div class="col">
                <label>RateCard Name:</label>
              <input type="text" class="form-control" name="name" ngModel>
            </div>
            <div class="col">
                <label>RateCard Price:</label>
              <input type="text" class="form-control" name="rate" ngModel>
            </div>
         </div>
    </fieldset>
    <fieldset ngModelGroup="rc5">
        <div class="row">
            <div class="col">
                <label>Code:</label>
                <input type="text" class="form-control" name="code" ngModel="RC5" >
              </div>
            <div class="col">
                <label>RateCard Name:</label>
              <input type="text" class="form-control" name="name" ngModel>
            </div>
            <div class="col">
                <label>RateCard Price:</label>
              <input type="text" class="form-control" name="rate" ngModel>
            </div>
         </div>
    </fieldset>
    <fieldset ngModelGroup="rc6">
        <div class="row">
            <div class="col">
                <label>Code:</label>
                <input type="text" class="form-control" name="code" ngModel="RC6" >
              </div>
            <div class="col">
                <label>RateCard Name:</label>
              <input type="text" class="form-control" name="name" ngModel>
            </div>
            <div class="col">
                <label>RateCard Price:</label>
              <input type="text" class="form-control" name="rate" ngModel>
            </div>
         </div>
    </fieldset>
    <fieldset ngModelGroup="rc7">
        <div class="row">
            <div class="col">
                <label>Code:</label>
                <input type="text" class="form-control" name="code" ngModel="RC7" >
              </div>
            <div class="col">
                <label>RateCard Name:</label>
              <input type="text" class="form-control" name="name" ngModel>
            </div>
            <div class="col">
                <label>RateCard Price:</label>
              <input type="text" class="form-control" name="rate" ngModel>
            </div>
         </div>
    </fieldset>
    <fieldset ngModelGroup="rc8">
        <div class="row">
            <div class="col">
                <label>Code:</label>
                <input type="text" class="form-control" name="code" ngModel="RC8" >
              </div>
            <div class="col">
                <label>RateCard Name:</label>
              <input type="text" class="form-control" name="name" ngModel>
            </div>
            <div class="col">
                <label>RateCard Price:</label>
              <input type="text" class="form-control" name="rate" ngModel>
            </div>
         </div>
    </fieldset>
    <fieldset ngModelGroup="rc9">
        <div class="row">
            <div class="col">
                <label>Code:</label>
                <input type="text" class="form-control" name="code" ngModel="RC9" >
              </div>
            <div class="col">
                <label>RateCard Name:</label>
              <input type="text" class="form-control" name="name" ngModel>
            </div>
            <div class="col">
                <label>RateCard Price:</label>
              <input type="text" class="form-control" name="rate" ngModel>
            </div>
         </div>
    </fieldset>
    <fieldset ngModelGroup="rc10">
        <div class="row">
            <div class="col">
                <label>Code:</label>
                <input type="text" class="form-control" name="code" ngModel="RC10" >
              </div>
            <div class="col">
                <label>RateCard Name:</label>
              <input type="text" class="form-control" name="name" ngModel>
            </div>
            <div class="col">
                <label>RateCard Price:</label>
              <input type="text" class="form-control" name="rate" ngModel>
            </div>
         </div>
    </fieldset>
    <fieldset ngModelGroup="rc11">
        <div class="row">
            <div class="col">
                <label>Code:</label>
                <input type="text" class="form-control" name="code" ngModel="RC11" >
              </div>
            <div class="col">
                <label>RateCard Name:</label>
              <input type="text" class="form-control" name="name" ngModel>
            </div>
            <div class="col">
                <label>RateCard Price:</label>
              <input type="text" class="form-control" name="rate" ngModel>
            </div>
         </div>
    </fieldset>
    <fieldset ngModelGroup="rc12">
        <div class="row">
            <div class="col">
                <label>Code:</label>
                <input type="text" class="form-control" name="code" ngModel="RC12" >
              </div>
            <div class="col">
                <label>RateCard Name:</label>
              <input type="text" class="form-control" name="name" ngModel>
            </div>
            <div class="col">
                <label>RateCard Price:</label>
              <input type="text" class="form-control" name="rate" ngModel>
            </div>
         </div>
    </fieldset>
    <fieldset ngModelGroup="rc13">
        <div class="row">
            <div class="col">
                <label>Code:</label>
                <input type="text" class="form-control" name="code" ngModel="RC13" >
              </div>
            <div class="col">
                <label>RateCard Name:</label>
              <input type="text" class="form-control" name="name" ngModel>
            </div>
            <div class="col">
                <label>RateCard Price:</label>
              <input type="text" class="form-control" name="rate" ngModel>
            </div>
         </div>
    </fieldset>

  </fieldset>