/* You can add global styles to this file, and also import other style files */
.container-fluid {
    min-height:100vh;
    margin-top: 60px;
}

.container {
    margin-top: 60px;
}

.modal-dialog {
    &.modal-dialog-centered{
        width : 100%;
    }
}