.container {

    h5 {
        color: red;
    }

    span {
        &.column {
            padding-right: 10px;
        }
    }

    img {
        width: 150px;
        height: 150px;
        padding: 10px;
        
        &.imgWithDropdown {
            width: 100px;
            height: 100px;
        }
    }

}

.imgCaption {
    padding-left: 20px;
}

.dropdownCaption {
    select {
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
    }
}

table {
    th, tr{
        border: 1px solid #dee2e6;
    }
}

nouislider {
    width: 50%;
    padding-left: 30px;
}

#banner{
    margin-bottom: 20px;
}