<div class="container" *ngIf ="pageLoaded">

  <div class="container">
      <div class="row">
        <h4>Welcome, {{homeContent.userName}}</h4>
      </div>
  </div>
  <br>
  <div class="card">
    <div class="card-body">
      <h5>My Dashboard</h5>
      <!-- Image components -->
      <div class="row col-lg-12">

        <span class="column col-lg-3" *ngIf='homeContent.activePromoYear != null'>
          <img src="./assets/images/calendar.png" alt="pie-chart">
          <figcaption class="imgCaption" *ngIf="homeContent.role === 'VENDOR'"><a  [routerLink]="['/supplier',homeContent.activePromoYear]">Annual Planning</a></figcaption>
        </span>

        <span class="column col-lg-3" *ngIf='homeContent.activePromoYear == null'>
          <img src="./assets/images/calendar.png" alt="pie-chart">
          <figcaption class="imgCaption" *ngIf="homeContent.role === 'VENDOR'"><a  [routerLink]="['/supplier',homeContent.activePromoYear]">Annual Planning</a></figcaption>
        </span>

        <span  class="column col-lg-3">
          <img src="./assets/images/tags.png" alt="bar-chart">
          <figcaption class="imgCaption">Promotional Planning</figcaption>
        </span>
        <span  class="column col-lg-3">
          <img src="./assets/images/checklist.png" alt="bar-chart">
          <figcaption class="imgCaption">New Product Form</figcaption>
        </span>
        <span  class="column col-lg-3">
          <img src="./assets/images/checklist-edit.png" alt="bar-chart">
          <figcaption class="imgCaption">Product Change Form</figcaption>
        </span>
      </div>
      <br>
      <!-- Inbox Component -->
      <h5> Inbox</h5>
      <div class="row col-lg-12" *ngIf="comments.length != 0">
          <div class="table-responsive" >
              <table class="table table-sm">
                <thead>
                  <tr>
                    <th>Sender</th>
                    <th>Message</th>
                    <th>Date</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let row of comments; let i = index;">
                    <td>{{row.senderName}}</td>
                    <td>{{row.comment}}</td>
                    <td>{{row.sentOn | slice:0:10}}</td>
                  </tr>
                </tbody>
              </table>
          </div>
      </div>
      <div class="row col-lg-12" *ngIf="comments.length === 0">
        <p>No Messages!</p>
      </div>
      <!-- Slider component -->
      <h5>Promotional Year</h5>
      <div class="row">
        <!-- <form [formGroup]="form1"> -->
            <nouislider [config]="someKeyboardConfig" [(ngModel)]="timelineYear" (ngModelChange)="onSliderChange($event)"></nouislider>
        <!-- </form> -->
      </div>
      <br>
      <div class="d-flex flex-row-reverse">
        <button type="button" class="btn btn-success" (click)="displaySupplierPromotion()" >See Promotion</button>
      </div>

      <div class="container">
        <div class="row">
            <h5> Promotion TimeLine </h5>
            <div  [chartData]="gantt_ChartData" [chartOptions]="gantt_chart_options" GanttChart></div>
        </div>
      </div>
    </div>

</div>