<div class="container" *ngIf ="pageLoaded">
  <div class="card">
    <div class="card-body">
      <h5>My Dashboard</h5>
      <!-- Image components -->
      <div class="row col-lg-12">

        <span class="column col-lg-2">
          <img src="./assets/images/calendar.png" alt="pie-chart">
          <figcaption class="imgCaption">
            <label class="mr-sm-2" for="inlineFormCustomSelect">Promotions:</label>
            <select class="custom-select mr-sm-2" (change)="onSelect($event.target.value)">
              <option selected>Choose...</option>
              <option *ngFor="let p of promotions" [value]="p.pid">
                {{p.name}}
              </option>
            </select> 
          </figcaption>
          <figcaption class="imgCaption" *ngIf ="homeContent.role === 'CM'">
              <label class="mr-sm-2" for="inlineFormCustomSelect">Suppliers:</label>
              <select class="custom-select mr-sm-2" (change)="onSupplierSelect($event.target.value)">
                <option selected>Choose...</option>
                <option *ngFor="let s of promotionSuppliers" [value]="s.supplierID">
                  {{s.supplierName}}
                </option>
              </select> 
            </figcaption>
        </span>

        <span  class="column col-lg-2">
          <img src="./assets/images/tags.png" alt="bar-chart">
          <figcaption class="imgCaption">Promotional Planning</figcaption>
        </span>
        <span  class="column col-lg-2">
          <img src="./assets/images/checklist.png" alt="bar-chart">
          <figcaption class="imgCaption">New Product Form</figcaption>
        </span>
        <span  class="column col-lg-2">
          <img src="./assets/images/checklist-edit.png" alt="bar-chart">
          <figcaption class="imgCaption">Product Change Form</figcaption>
        </span>
        <span  class="column col-lg-2" *ngIf ="homeContent.role === 'VENDOR'">
          <img src="./assets/images/checklist-edit.png" alt="bar-chart">
          <button class="btn btn-link"><figcaption (click)="budgetClicked()" class="link imgCaption">Budget</figcaption></button>
        </span>
      </div>
      <br>
      <!-- Notification Component -->
      <h5> Notifications</h5>
      <div class="row col-lg-12" *ngIf="notifications.length != 0">
          <div class="table-responsive" >
              <table class="table table-sm">
                <thead>
                  <tr>
                    <th>Sender</th>
                    <th>Message</th>
                    <th>Date</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let row of notifications; let i = index;">
                    <td>Admin</td>
                    <td>{{row.message}}</td>
                    <td>{{row.createdAt | slice:0:10}}</td>
                  </tr>
                </tbody>
              </table>
          </div>
      </div>
      <div class="row col-lg-12" *ngIf="notifications.length === 0">
          <p>No Messages!</p>
      </div>
      <!-- Inbox Component -->
      <h5> Inbox</h5>
      <div class="row col-lg-12" *ngIf="comments.length != 0">
          <div class="table-responsive" >
              <table class="table table-sm">
                <thead>
                  <tr>
                    <th>Sender</th>
                    <th>Message</th>
                    <th>Date</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let row of comments; let i = index;">
                    <td>{{row.senderName}}</td>
                    <td>{{row.comment}}</td>
                    <td>{{row.sentOn | slice:0:10}}</td>
                  </tr>
                </tbody>
              </table>
          </div>
      </div>
      <div class="row col-lg-12" *ngIf="comments.length === 0">
        <p>No Messages!</p>
      </div>
      <!-- Slider component -->
      <h5>Promotional Year</h5>
      <div class="row">
        <!-- <form [formGroup]="form1"> -->
            <nouislider [config]="someKeyboardConfig" [(ngModel)]="timelineYear" (ngModelChange)="onSliderChange($event)"></nouislider>
        <!-- </form> -->
      </div>
      <br>
      <div class="d-flex flex-row-reverse">
        <button type="button" class="btn btn-success" (click)="displaySupplierPromotion()" >See Promotion</button>
      </div>

      <div class="container">
        <div class="row">
            <h5> Promotion TimeLine </h5>
            <div  [chartData]="gantt_ChartData" [chartOptions]="gantt_chart_options" GanttChart></div>
        </div>
      </div>
    </div>

</div>