<h4>Promotion Details:</h4>
<div class="container" *ngIf="promotions.length != 0">
<div class="row">
  <div class="table-responsive">
    <table class="table table-sm">
    <thead>
      <tr>
        <th>Promotion Name</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let promo of promotions; let i = index">
        <td>{{promo.name}}</td>
        <td>{{promo.pstatus}}</td>
        <td> <button type="button" class="btn btn-success" (click)="activatePromotion(promo.pid)">Activate</button></td>
      </tr>
    </tbody>
    </table>
  </div>
</div>
</div>
<div class="container" *ngIf="promotions.length == 0">
  <h5>No Draft Promotion Present</h5>
</div>