<div class="modal-body">
  <div class="input-group mb-3">
    <label for="single">
      <input type="radio" aria-label="Checkbox for following text input" 
        value="single" name="productSelect"  [(ngModel)]="model.productSelect" >Single Product
    </label>
  </div>

  <div class="input-group mb-3" *ngIf = "model.productSelect === 'single'">
    <div class="form-check-inline col-lg-5" *ngFor='let product of promotionalProduct'>
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" value="product.sku"> {{product.name}}
      </label>
    </div>
  </div>

  <div class="input-group">
    <label for="single">
      <input type="radio" aria-label="Checkbox for following text input" 
        value="brand" [(ngModel)]="model.productSelect" 
        name="productSelect">Brand Product
    </label>
  </div>

  <div class="input-group mb-3" *ngIf = "model.productSelect === 'brand'">
    <div class="form-check-inline col-lg-5" *ngFor='let product of promotionalProduct'>
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" value="product.sku" disabled checked> {{product.name}}
      </label>
    </div>
  </div>

</div>
