<div class="modal-body">

  <div class="row" *ngIf="numberOfTiles > 0;else addTiles">
    <div class="col-lg-12">
      <div class="col-lg-4" *ngFor="let tile of tilesArray">
          <button class="btn btn-success" id="{{tile}}" (click)="addPromotion($event)">
              Add Promotion {{tile}}
            </button>
      </div>
    </div>
  </div>

  
  <ng-template #addTiles>
      <div>Number of tiles selected : {{numberOfTiles}}</div>
      <div>Provide the tiles to continue further.</div>
  </ng-template>

</div>