.open {
    .dropdown-menu {
        display: block;
        margin-left: -80px;

        li {
            padding: 2px;
            margin-left: 2px;
        }
    }
}

.textcolor {
    color: #fff !important;
}