<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a  class="navbar" > TEST </a>
    <div class="col-md-9">
        <div class="logo">
            <h5>Dashboard</h5>
        </div>
    </div>
    <div class="col-md-2">
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown" appDropdown>
                <a style="cursor: pointer;" class="dropdown-toggle" role="button">Hi User<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a style="cursor: pointer;" (click)="onShowProfile()">Profile</a></li>
                    <li><a style="cursor: pointer;" (click)="onLogout()">Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>