<div class="container" *ngIf ="hasError">
    <h4>Oops!Something went wrong or No Data Found!</h4>
</div>

<div class="container" *ngIf ="pageLoaded && !hasError">
  <div class="d-flex flex-row">
      <div class="p-2"><span class="alert alert-info"><strong>Year: </strong>{{promotion.promoyear | date: 'y'}}</span></div>
      <div class="p-2"><span class="alert alert-info"><strong>Status: </strong> {{promotion.status}}</span></div>
      <div class="p-2"><span class="alert alert-info"><strong>Total Budget: </strong>{{promotion.budget.allocated}}</span></div>
      <div class="p-2"><span class="alert alert-info"><strong>Used Budget: </strong>{{promotion.budget.used}}</span></div>
      <div class="p-2"><span class="alert alert-info"><strong>Budget Available: </strong>{{promotion.budget.diff}}</span></div>
  </div>
  <br>
  <div class="d-flex flex-row-reverse" *ngIf="promotion.status === 'DRAFT' || promotion.status === 'REJECTED'">
    <div class="p-2">
      <button class="btn btn-primary" (click)="promotion.isEditable=!promotion.isEditable" *ngIf="promotion.isEditable">Edit</button>
      <button class="btn btn-primary" *ngIf="!promotion.isEditable" (click)="promotion.isEditable=!promotion.isEditable">Save</button>
    </div>
    <div class="p-2">
      <button type="button" class="btn btn-warning" (click)="saveSupplierPromotion()" *ngIf="promotion.isEditable">Save</button>
    </div>
    <div class="p-2">
      <button type="button" class="btn btn-success" (click)="submitSupplierPromotion()" *ngIf="promotion.isEditable && promoSaved">Submit</button>
    </div>
  </div>

    <div class="table-responsive">
        <h4>Promotion : {{promotionName}}</h4>
        <table class="table table-sm">
            <thead>
              <tr>
                <th scope="col">Package</th>
                <th scope="col">Code</th>
                <th scope="col">Rate</th>
                <th scope="col" *ngFor="let dm of dualMailers">{{dm.id}}</th>
              </tr>
            </thead>
            
            <tbody>
              <tr *ngFor="let row of promotion.ratecards;let rowid = index">

                <td><p>{{row.pname}}</p></td>
                <td><p>{{row.pcode}}</p></td>
                <td><p>${{row.prate}}</p></td>

                <td *ngFor="let dm of row.dualmailers;let i = index">
                  <input *ngIf="!promotion.isEditable && (promotion.status === 'DRAFT' || promotion.status === 'REJECTED') " type="text" [(ngModel)]="dm.value" [readonly]="promotion.isEditable" size="1" (change)="onValueChange(row,dm)"/>
                  <p [ngbPopover]="popContent" triggers="mouseenter:mouseleave" [popoverTitle]="popTitle" (mouseenter)="onHover(rowid,i)" (mouseleave)="onHoverLeave()" *ngIf="promotion.isEditable && (promotion.status === 'DRAFT' || promotion.status === 'REJECTED')" (dblclick)="editDM(rowid,i)">{{dm.value}}</p>
                  <p [ngbPopover]="popContent" triggers="mouseenter:mouseleave" [popoverTitle]="popTitle" (mouseenter)="onHover(rowid,i)" (mouseleave)="onHoverLeave()" *ngIf="!promotion.isEditable && (promotion.status === 'SUBMITTED' || promotion.status === 'ACCEPTED')" (dblclick)="editDM(rowid,i)">{{dm.value}}</p>
                </td>
              </tr>
            </tbody>
            
         </table>
    </div>

    <div class="table-responsive" *ngIf ="productDMBudgetList.length != 0">
      <h4>Budget Breakdown</h4>
      <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">Selected Package</th>
              <th scope="col">Total</th>
              <th scope="col">Total Spent</th>
            </tr>
          </thead>
          
          <tbody>
            <tr *ngFor="let row of productDMBudgetList;let rowid = index">
              <td><p>{{row.packageName}}</p></td>
              <td><p>{{row.totalSelected}}</p></td>
              <td><p>${{row.totalSpent}}</p></td>
            </tr>
          </tbody>
          
       </table>
  </div>

  <ng-template #popContent>
    <div class="popupArea" *ngFor="let row of skuPromoDataList;let rowid = index">
      <div> Promotion Name:<b>{{row.promoName}}</b> of type <b>{{row.promoType}}</b>
        <br></div>
        <div>
            <p><b>PRODUCTS:</b></p>
            <ul *ngFor="let product of row.productsSelected" >
                <li>{{product.name}}</li>
            </ul>
        </div>
    </div>
  </ng-template>
  <ng-template #popTitle><b>Promotion Details</b></ng-template>

 </div>




 
