<div class="modal-body">

  <ul class="nav nav-pills nav-fill">
    <div class="nav-item" [ngClass]="tabEnabled === 'BRAND' ? 'disableAnchor' : ''">
      <a class="nav-link" [ngClass]="promotionType === 'SINGLE' ? 'active' : '' " 
        (click)="showSinglePromotion($event)" >Single Promotion</a>
    </div>
    <div class="nav-item" [ngClass]="tabEnabled === 'SINGLE' ? 'disableAnchor' : ''">
      <a class="nav-link" [ngClass]="promotionType === 'BRAND' ? 'active' : '' " 
        (click)="showBrandPromotion($event)" >Brand Promotion</a>
    </div>
  </ul>
  <div class="row">
    
  </div>
  <div *ngIf="promotionType === 'BRAND'">
    <app-brand-promotion-modal></app-brand-promotion-modal>
  </div>
  <div *ngIf="promotionType === 'SINGLE'">
    <app-sku-promotion-modal></app-sku-promotion-modal>
  </div>
</div>