<div class="card-body">
  <label for="promoName">Promotion Name:</label>
  <div class="form-group">
    <div class="row">
      <input type="text" class="form-control col-lg-8" [(ngModel)]="promoNameModel"
        aria-describedby="promoName"  placeholder="Enter a promotion name" [disabled]="promoNameInputDisabled">
    </div>
  </div>
</div>

<div>
  <span>
    <select name="promoTypeDropdown" [(ngModel)]="promotionType">
      <option  value="BRAND" [disabled]="optionEnabled === 'SINGLE' ? true : false">Brand Group</option>
      <option  value="SINGLE" [disabled]="optionEnabled === 'BRAND' ? true : false">Single Sku</option>
    </select>
  </span>
</div>

<div *ngIf="promotionType === 'BRAND'">
  <app-brand-promotion-modal></app-brand-promotion-modal>
</div>
<div *ngIf="promotionType === 'SINGLE'">
  <app-sku-promotion-modal></app-sku-promotion-modal>
</div>