<div class="container">
<div class="top30">
  <p><strong>Search Products:</strong></p>
  <div class="row">
      <input class="form-control" type="text" id="search" name="search" [(ngModel)]="filter">      
  </div>
  <br>
  <div class="row">
    <div class="table-responsive">
      <table class="table table-sm">
      <thead>
        <tr>
          <th>NAME</th>
          <th>SKU</th>
          <th>BARCODE</th>
          <th>Select</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products | filter:filter | paginate: { itemsPerPage: 5, currentPage: p }; let i = index">
          <td>{{product.name}}</td>
          <td>{{product.sku}}</td>
          <td>{{product.barcode}}</td>
          <td><input type="checkbox" name="i" [checked]="isSelected(product)"
            (change)="addToProductList($event.target.checked, product)"></td>
        </tr>
      </tbody>
      <br>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </table>
    </div>
  </div>
</div>
</div>