.modal-dialog {
    
    .showScroll{
        // Hardcoded value need to find a fix
        max-height:100px;
        overflow-y: auto;
    }
    
}

.table {
    font-size: 12px;
}

.top30 {
    margin-top: 30px;
}